{%extends 'everything/base.html'%} 
{% block content %}
<div class="container" style="background-color: rgb(39, 1, 1);">

  <div class="row">
    {% if pictures %}
      <h2 class="text-center" style="color: rgb(252, 240, 240);">Found {{ pictures|length }} pictures of {{message}}</h2>
    {% else %}
      <h1 > Found 0 picture for the search term {{message}}</h1>
    {% endif %}
  </div>
  <br><br>
  <div class="row ">

  {% if pictures %}
    {% for cata in pictures %}
      <div class="col-sm-6 col-md-3">
        <img src="{{cata.pic.url }}" class="img-responsive btn" height="300px" width="200px" alt="Image" type="button" data-toggle="modal" data-target="#{{cata.id}}"  > 
        <h1> {{ cata.title }} </h1>
        <p style="color: rgb(252, 240, 240);">{{ cata.description }}</p>

        <div class="modal fade" id="{{cata.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title" id="exampleModalLabel">
                        <img src="{{cata.pic.url }}" class="img-responsive" height="300px" width="200px" alt="Image" > 
                        <h1> {{ cata.title }} </h1>
                        <p style="color: rgb(34, 33, 33);">{{ cata.description }}</p>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                </div>
            </div>
            </div> 

      </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}