<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark">
    <ul class="navbar-nav">
        <li>
            <a style="color: rgb(196, 190, 190);" class="navbar-brand" href="{% url 'welcome' %}">GALLERY</a>
        </li>
        <!-- <li>
        <a class="nav-link" href="#">Link 2</a>
        </li>
        <li>
        <a class="nav-link" href="#">Link 3</a>
        </li> -->
    </ul>
</nav>
</body>
</html>

