{%extends 'everything/base.html'%}

{% block content %}
<h1 class="text-center">My Gallery</h1>
<div class="container">
        <!-- Looping through images -->
        {% for pic_item in image %}
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <h2> {{ pic_item.title }} </h2>
                <!-- <p>{{ pic_item.description }}</p> -->
                <img src="{{ pic_item.pic.url }}" class="img-responsive" height="300px" width="200px" alt="Image" >
            </div>
    
        </div>
        {% endfor %}
{% endblock %}