{%extends 'everything/base.html'%}
<link href="https://fonts.googleapis.com/css?family=Pacifico|Source+Serif+Pro&display=swap" rel="stylesheet">
{% block content %}

<!-- copyLink code from W3schools -->
<script>
    function copyLink() {
        var Link = document.getElementById("link");
        Link.select();
        console.log(Link);
        Link.setSelectionRange(0, 999)
        document.execCommand("copy");
    }
</script>

<h1 style="font-family: 'Pacifico', cursive;" class="text-center">My Gallery</h1>
<div class="container">
    <br><br>
        <!-- Looping through images -->
        <div class="row">
        {% for pic_item in image %}
        
            <div class=" col-md-3">
                <h2 style="font-family: 'Source Serif Pro', serif;"> {{ pic_item.title }} </h2>
                
                <img src="{{ pic_item.pic.url }}" class="img-responsive btn btn-success" height="300px" width="200px" alt="Image" type="button" data-toggle="modal" data-target="#{{pic_item.id}}" >

                <!-- codes from Bootstrap  -->
                <!-- Button trigger modal -->

                <!-- Modal -->
                <div class="modal fade" id="{{pic_item.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title" id="exampleModalLabel">
                            <img src="{{pic_item.pic.url }}" class="img-responsive" height="300px" width="400px" alt="Image"> 
                            <h1 style="font-family: 'Source Serif Pro', serif;"> {{ pic_item.title }} </h1>
                            <p style="color: rgb(34, 33, 33);font-family: 'Pacifico', cursive;">{{ pic_item.description }}</p>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-info" onclick="copyLink(link)" value="127.0.0.1:8000{{pic_item.pic.url}}" id="link" data-toggle="modal" data-target="#Modal">Copy Image</button>
                        <a  type="button" class="btn btn-secondary" target="_blank" href="{{pic_item.pic.url }}" >View</a>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                    </div>
                </div>
                </div> 
                <hr>
            </div>
    
        
        {% endfor %}
        </div>
</div>
{% endblock %}